.headerLogo {
  height: 36px;
}

.headerFont {
  font-size: 24px;
  font-weight: 500;
}

.accountDropdownContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  margin-right: 2rem;
  position: relative;
}

.customFormGroup {
  display: flex;
  flex-direction: row;
}